*{
    paddin:0;
    margin: 0;
}
.main{
    display: flex;
    text-align: center;
     justify-content: center;  
    flex-direction: column;
    padding-top: 10px;
    margin-left: 5px;
    
    
}

 .search {
    border: 3px solid green;
    border-radius: 10px;
    background-color: rgb(232, 232, 243);
    font-size: larger;
    font-weight: bold;
    text-align: center;
 }
 .submitButton{
    border-radius: 10px;
    border: 3px solid black;
    font-size: larger;
    font-weight: bold;
 }
 .submitButton:hover{
    background-color: blue;
    color: rgb(222, 222, 236);
    transition: .5s;
 }
 h1{
    text-align: center;
    color: red;
    border: 2px solid rgb(0, 255, 76);
    border-radius: 15px;
    background-color: rgb(81, 21, 220); 
 }
 .image{
    display: flex;
    justify-items: flex-end;
    height: 80px;
    width: 80px;
    border-radius: 15px ;
    border: 2px solid black;
    margin-bottom:10px ;

 }
 /* h2{
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
 } */
 h4{
    text-align: start;
    border: 2px solid rgb(255, 0, 4);
    border-radius: 10px;
    /* height: 25%; */
    width: 15%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    background-color: blueviolet;
 }
 .img{
    border: 2px solid blue;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
